body {
	background-color: #FCFCFC;
}

footer {
	margin-top: 40px;
}

footer>.container {
	font-size: 13px;
}

.footer-copyright {
	font-size: 1em;
}

#list-page {
	margin-top: 30px;
}

.title-image {
	max-height: 200px;
	overflow: hidden;
}

footer a {
	color: #d4e157;
}

.card-content p {
	text-align: justify;
}

#breadcrumbs {
	display: none;
}

#article-page {
	display: none;
}

#article-page img {
	max-width: 100%;
	margin: auto;
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

#article-page figcaption {
	font-style: italic;
	color: #9b9b9b;
	margin: auto;
	margin-bottom: 15px;
}

.divider {
	margin-top: 5px;
	margin-bottom: 5px;
}