body {
	background-color: #FCFCFC;
}

footer {
	margin-top: 40px;
}

footer>.container {
	font-size: 13px;
}

.footer-copyright {
	font-size: 1em;
}

.list-page {
	margin-top: 30px;
}

.title-image {
	max-height: 200px;
	overflow: hidden;
}

footer a {
	color: #d4e157;
}

.card-content p {
	text-align: justify;
}

.breadcrumbs {
	display: none;
}

.article-page {
	display: none;
}