<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="/" />
		<title>Blog - Martin Verdier</title>
		<link rel="stylesheet" href="css/materialize.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="js/angular.min.js"></script>
	</head>
	
	<body ng-app="myApp" ng-controller="BlogController">

		<nav class="green darken-1">
			<div class="nav-wrapper row">
				<div class="col s12">
					<a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

					<a class="brand-logo" href="#" ng-click="back()">Blog - Tech and Code</a>

					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="http://martin-verdier.com/">Home</a></li>
						<li><a href="http://projects.martin-verdier.com/">Projects</a></li>
						<li><a href="http://pro.martin-verdier.com/">Resume</a></li>
					</ul>

					<ul class="side-nav" id="mobile-nav">
						<li><a href="http://martin-verdier.com/">Home</a></li>
						<li><a href="http://projects.martin-verdier.com/">Projects</a></li>
						<li><a href="http://pro.martin-verdier.com/">Resume</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<nav id="breadcrumbs" class="green darken-1">
			<div class="nav-wrapper row">
				<div class="col s12">
					<a href="#" ng-click="back()" class="breadcrumb">Blog</a>
					<span class="breadcrumb">{{ selectedArticle.title }}</span>
				</div>
			</div>
		</nav>

		<div id="list-page" class="container">
			<div class="row">

				<!-- The main column, that displays a list of available articles -->
				<div class="article-list container col s12 m12 l8">
					<div class="row">

						<div class="col s12" ng-repeat="article in articles">
							<div class="card">
								<div class="card-image" ng-if="article.pictureHeader && article.pictureHeader != ''">
									<div class="title-image">
										<img ng-src="http://resources.martin-verdier.com/articles/images/{{ article.pictureHeader }}">
									</div>
									<span class="card-title">{{ article.title }}</span>
								</div>
								<div class="card-content">
									<span class="card-title" ng-if="!article.pictureHeader || article.pictureHeader == ''">{{ article.title }}</span>
									<p>{{ article.preview }}</p>
								</div>
								<div class="card-action">
									<a href="#" ng-click="openArticle(article.url)">Read more</a>
									<a href="#" ng-click="comments(article.url)">Comments</a>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- The rightmost column, with some extra info about me and the website -->
				<div class="more col s12 m12 l4">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<span class="card-title">Who am I again?</span>
								<p>Hi! I'm Martin, I developed this blog and I'm also the one that's posting on it.</p>
								<p>To make a quick description of myself, I'm a software developer. I love coding, tech gadgets, and new stuff overall. I also love maps, traveling, and taking pictures!</p>
							</div>
						</div>
					</div>
				</div>

				<!-- The pagination part, at the bottom -->
				<div class="col s12 m12 l8 center">
					 <ul class="pagination">
						<li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li class="waves-effect"><a href="#">2</a></li>
						<li class="waves-effect"><a href="#">3</a></li>
						<li class="waves-effect"><a href="#">4</a></li>
						<li class="waves-effect"><a href="#">5</a></li>
						<li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
					  </ul>
				</div>
			</div>
		</div>

		<!-- The page that will be displayed when an article is expanded -->
		<div id="article-page" class="container">
			<div class="row">
				<div class="col s12 m12 l8">
					<div class="card">
						<div class="card-image" ng-if="selectedArticle.pictureHeader && selectedArticle.pictureHeader != ''">
							<div class="title-image">
								<img ng-src="http://resources.martin-verdier.com/articles/images/{{ selectedArticle.pictureHeader }}">
							</div>
							<span class="card-title">{{ selectedArticle.title }}</span>
						</div>
						<div class="card-content">
							<span class="card-title" ng-if="!selectedArticle.pictureHeader || selectedArticle.pictureHeader == ''">{{ selectedArticle.title }}</span>
							<div class="article-content">
								<p>{{ selectedArticle.preview }}</p>
								<div ng-bind-html="selectedArticle.content"></div>

								<div class="divider"></div>

								<div class="meta">
									<p>Written by {{ selectedArticle.author }} on {{ selectedArticle.publicationDate | date: 'EEEE, MMMM d, y' }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="page-footer green darken-1">
			<div class="container grey-text text-lighten-4">
				<div class="row">
					<p>Blog designed and developed by <a href="http://martin-verdier.com/" target="_blank">Martin Verdier</a> in November 2016.</p>
					<p>OCTOCAT® is the property of GitHub, Inc. You can find every legal stuff about it over <a href="https://github.com/logos" target="_blank">here</a>!</p>
					<p>About open-source, you can use this blog template as yours, it's open-sourced right <a href="https://github.com/mverdier/blog-public" target="_blank">here on GitHub</a>!</p>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2016 Martin Verdier
					<a class="grey-text text-lighten-4 right" href="http://martin-verdier.com/LICENSE" target="_blank">MIT License</a>
				</div>
			</div>
		</footer>

		<!-- Angular app config -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>

		<!-- Modules -->
		<script src="js/app.js"></script>

		<!-- Materialize -->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script>
			$(document).ready(function() {
				$(".button-collapse").sideNav();
			})
		</script>

		<!-- Controllers -->
		<script src="js/controllers/BlogController.js"></script>

	</body>
</html>
